@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/inter-latin-400-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/inter-latin-700-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/playfair-display-latin-700-normal.woff") format("woff");
  font-display: swap;
}
